.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: auto auto auto;
  gap: 2px;
  justify-content: center;
}
.item {
  --size: 50px;
  width: var(--size);
  height: var(--size);
  background-color: blue;
  color: white;
}
