.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.item {
  --size: 50px;
  border: 1px solid black;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: #3498db;
}
